body {
    color: rgb(222, 0, 234);
    background: black;
margin: 0px;}
header {
border-bottom: solid 2px rgb(255, 0, 0);
padding: 20px;
font-size: 32px;
color: rgb(255, 0, 0);
}
section {
    background: rgb(110, 0, 206);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
